{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "printWidth": 80,
    "bracketSpacing": true,
    "jsxBrcketSameLine": true,
    "arrowParens":"avoid"
  }