/* Window's Header Styles */
.window__header {
    background: #fff;
    border-bottom: 1px solid var(--border);
    grid-area: head;
    padding-left: var(--spacer-2);
    z-index: 20;
    @include flex(center, space-between);
}

.window__header__actions {
    @include flex(center, space-around);
    height: 32px;
    width: 120px;
    div { 
        flex:1;
        @include flex(center, center);
        height: inherit;
        border-left: 1px solid var(--border);
        cursor: pointer;
        &:hover {
            background: rgba(#000,0.05);
        }
    }
}

