.window__main {
    grid-area: main;
    position: relative;
}

.empty__state {
    height: 100%;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
}

.window__main__navbar {
    height: 40px;
    outline: 1px solid var(--border);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80px 1fr 240px 80px;
    grid-template-columns: 80px 1fr 240px 80px;
}

.window__main__nav, .window__main__view {
    button {
        height: 40px;
        width:40px;
        background: transparent;
        border: none;
        cursor: pointer;
        &:last-child {
            border-right: 1px solid var(--border);
        }
        &:hover {
            background: rgba(#000,0.05);
        }
    }
}

.window__main__view {
    button {
        &:last-child {
            border-right: none;
        }
    }
}

ul.window__main__breadcrumbs {
    padding: 0 var(--spacer-2);
    @include flex(center, null);
    border-right: 1px solid var(--border); 
    li {
        height: 40px;
        line-height: 40px;
    }
    span {
        margin: 0 var(--spacer-1);
    }
}

.window__main__search {
    border-right: 1px solid var(--border);
    input {
        width: 100%;
        height: 40px;
        border: none;
        padding-left: var(--spacer-2);
    }
}

.window__main__content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 0;
    height: calc(100vh - 104px);
    &.with__preview {
        grid-template-columns: 1fr 321px;
    }
}

.window__main__grid__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 120px;
                flex: 1 1 120px;
        max-width: 130px;
        height: 150px;
        border-top: none;
        margin: -1px 0 0 -1px;
        text-align: center;
        &:hover {
            background: rgba(#000, 0.05);
        }
    }
    .item__thumbnail {
        width: 100%;
        height: 120px;
        @include flex(center,center);
        div {
            height: 50px;
            width: 50px;
            background: var(--border);
        }
    }
}

.window__main__list__view {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 32px 1fr;
    grid-template-rows: 32px 1fr;
    .table__header, .table__row {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 120px 120px;
        grid-template-columns: 1fr 120px 120px;
    }
    .table__header {
        line-height: 32px;
        border-bottom: 1px solid var(--border);
        div {
            padding: 0 var(--spacer-2);
            @include flex(null,space-between);
        }
    }
    .table__row {
        height: 40px;
        line-height: 40px;
        div {
            padding: 0 var(--spacer-2);
        }
        &:hover {
            background: rgba(#000, 0.05);
        }
    }
}

.window__main__content__right {
    border-left: 1px solid var(--border);
    padding: var(--spacer-2);
}

@media screen and (max-width: 980px) {
    .window__main__content.with__preview {
        grid-template-columns: 1fr 0;
    }
    .window__main__content__right {
        position: absolute;
        right: 0;
        top: 1px;
        bottom: 0;
        width: 321px;
        background: #fff;
    }
}