.window__main {
    grid-area: main;
    position: relative;
    width: calc(100vw - 240px);    
    overflow-y: auto;
}

.empty__state {
    height: 100%;
    width: 100%;
    @include flex(center, center);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.window__main__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0;
    grid-template-columns: 1fr 0;
    height: calc(100vh - 144px);
    &.with__preview {
        -ms-grid-columns: 1fr 321px;
        grid-template-columns: 1fr 321px;
    }
}

.window__main__grid__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 120px;
                flex: 1 1 120px;
        max-width: 130px;
        height: 150px;
        border-top: none;
        margin: -1px 0 0 -1px;
        text-align: center;
        &:hover {
            background: rgba(#000, 0.05);
        }
    }
    .item__thumbnail {
        width: 100%;
        height: 120px;
        @include flex(center,center);
        div {
            height: 50px;
            width: 50px;
            background: var(--border);
        }
    }
}

.window__main__list__view {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 32px 1fr;
    grid-template-rows: 32px 1fr;
    .table__header, .table__row {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(100% / 3));
    }
    .table__header {
        line-height: 32px;
        border-bottom: 1px solid var(--border);
        div {
            cursor: pointer;
            padding: 0 var(--spacer-2);
            @include flex(null,space-between);
            &:hover {
                background: rgba(#000, 0.05);
            }

        }
        div.item__type {
            pointer-events: none;
        }
    }
    .table__row {
        height: 40px;
        line-height: 40px;
        div {
            cursor: pointer;
            padding: 0 var(--spacer-2);
        }
        &:hover {
            background: rgba(#000, 0.05);
        }
    }
}

.window__main__content__right {
    border-left: 1px solid var(--border);
    padding: var(--spacer-2);
}

main.preview__main {
    div {
        height: 32px;
        @include flex(center, space-between);
    }
}


.preview__header {
    @include flex(center, space-between);
}

.preview__thumbnail {
    height: 200px;
    width: 100%;
    background: rgba(#000, 0.2);
    @include flex(center, center);
    margin: 16px 0;
}

@media screen and (max-width: 980px) {
    .window__main__content.with__preview {
        -ms-grid-columns: 1fr 0;
        grid-template-columns: 1fr 0;
    }
    .window__main__content__right {
        position: absolute;
        right: 0;
        top: 1px;
        bottom: 0;
        width: 321px;
        background: #fff;
    }
}