.window__main__navbar {
    width: calc(100vw - 240px);
    height: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80px 1fr 240px 80px;
    grid-template-columns: 80px 1fr 240px 80px;
    background: #fff;
    z-index: 1;
    grid-area: nav;
    border-bottom: 1px solid var(--border);
}

.window__main__nav, .window__main__view {
    button {
        height: 40px;
        width:40px;
        background: transparent;
        border: none;
        cursor: pointer;
        &:last-child {
            border-right: 1px solid var(--border);
        }
        &:hover {
            background: rgba(#000,0.05);
        }
    }
}

.window__main__view {
    button {
        &:last-child {
            border-right: none;
        }
    }
}

ul.window__main__breadcrumbs {
    padding: 0 var(--spacer-2);
    @include flex(center, null);
    border-right: 1px solid var(--border); 
    li {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
    }
    span {
        margin: 0 var(--spacer-1);
    }
}

.window__main__search {
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    input {
        width: 100%;
        height: 39px;
        border: none;
        padding-left: var(--spacer-2);
    }
}