@mixin flex($ai,$jc){
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: $ai;
        -ms-flex-align: $ai;
            align-items: $ai;
    -webkit-box-pack: $jc;
        -ms-flex-pack: $jc;
            justify-content: $jc;
}