.window {
    display: grid;
    height: 100vh;
    grid-template-columns: 240px 1fr;
    -ms-grid-template-columns: 240px 1fr;
    grid-template-rows: 32px 1fr 32px;
    -ms-grid-template-rows: 32px 1fr 32px;
    grid-template-areas: "head head" "aside main" "aside foot";
}

.window-isCollapsed {
    grid-template-columns: 40px 1fr;
    -ms-grid-template-columns: 40px 1fr;
}

/* Window's Sidebar Styles */
.window__sidebar {
    border-right: 1px solid var(--border);
    grid-area: aside;
    background: #fff;
}

.window-isCollapsed {
    .window__sidebar__content {
        display: none;
    }
}

.window__sidebar__actions {
    @include flex(center, null);
    height: 40px;
    padding: 0 var(--spacer-2);
    outline: 1px solid var(--border);
}

.window__sidebar__content {
    padding: var(--spacer-2);
}

/* Window's Main Styles */
.window__main {
    grid-area: main;
}

.window__main__nav {
    height: 40px;
    padding: 0 var(--spacer-2);
    outline: 1px solid var(--border);
    @include flex(center, null);
}

.window__main__content {
    padding: var(--spacer-2);
}

@media screen and (max-width: 567px) {
    .window {
        grid-template-columns: 1fr;
        -ms-grid-template-columns: 1fr;
        grid-template-areas: "head" "main" "foot";
    }

    .window__sidebar {
        width: 40px;
        position: absolute;
        top: 32px;
        left: 0;
        bottom: 0;
        z-index: 10;
    }

    .window-isCollapsed {
        .window__sidebar {
            width: 360px;
            -webkit-box-shadow: 1px 0 20px 2px rgba(0,0,0,0.2);
                    box-shadow: 1px 0 20px 2px rgba(0,0,0,0.2);
        }
    }

    .window-isCollapsed {
        .window__sidebar {
            .window__sidebar__content {
                display: block;
            }
        }
    }

    .window__sidebar__content {
        display: none;
    }

    .window__main {
        margin-left: 40px;
    }

    .window__footer {
        margin-left: 40px;
    }
}
