:root {
    --border: #E0C9C9;

    --base-pt: 8;
    --spacer-1: calc(var(--base-pt) * 1px);
    --spacer-2: calc(var(--base-pt) * 2px);
    --spacer-3: calc(var(--base-pt) * 3px);
    --spacer-4: calc(var(--base-pt) * 4px);
}